* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    position: relative;
    padding: 10px;
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

nav{
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#nav-part2{
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px;
}

#nav-part2 h4{
    position: relative;
    font-size: 18px;
    border: 1px solid black;
    padding : 10px 20px;
    border-radius: 50px ;
    color: black;
    overflow: hidden;
}
#nav-part2 h4 a{
    position: relative;
    text-decoration: none;
    color: black;
    z-index: 9;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all ease 0.4s;
    border-radius: 50px;
    left: 0;
    bottom: -100%;
}

#nav-part2 h4:hover::after{
    bottom:0;
    background-color: black;
    animation-duration: 100;
}

#nav-part2 h4:hover a{
   color: #EFEAE3;
   transition: all ease 0.4s;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}


#page1 video{
    position: relative;
    z-index: 9;
    padding-inline: 20px;
    border-radius: 40px;
    margin-top: 6vh;
    width: 100%;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}


